{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vogue Registration</title>
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" type="text/css "href="{% static "core/reg_vog.css" %} ">
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/css/intlTelInput.css">
</head>

<body>
    <div class="container-1">
        <div class="header">
            <div class="logo-container"><img src="{% static "core/Group 19.png" %}" class="logo"></div>
            <p class="name-1">REGISTRATIONS</p>
            <button class="back" id="item_">BACK</button>
        </div>
    </div>
    <div class="line">
    </div>
    <div class="events">
        <div class="container-2">
            <div class="events-name" id="com1">
                <a class="competition" href="/register/Houte_Couture/" >Houte Couture</a>
            </div>
            <div class="events-name comm" id="com2">
                <a class="competition" href="/register/States_of_Dress/">States of Dress</a>
            </div>
            <div class="events-name" id="com3">
                <a class="competition" href="/register/Glamour_Nova/">Glamour Nova</a>
            </div>
        </div>
    </div>
    <form name="reg-form" id="add-container" method="POST">
        {% csrf_token %}
        <div class="team_name">
            <h1 class="txt-1">Team Name&nbsp;<a>*</a></h1>
            <input type="text" class="input-box" name="team_name">
        </div>
        <div class="leader">
            <div class="leader-text">
                <!-- <div>
                    <p>Team Name&nbsp;<a>*</a></p><input class="input-box" type="text" name="team_name">
                </div> -->
                <p class="txt-1">Leader Details</p>
                <div class="line-2"></div>
                <p class="txt-2">All feilds marked with&nbsp;<a>*</a>&nbsp;are mandatory</p>
            </div>
        </div>
        <div id="add-container_2">
        <div class="form-container">
            <div action="" class="form-box">
                <div>
                    <p>Name&nbsp;<a>*</a></p><input class="input-box" type="text" name="name">
                </div>
                <div class="align-right">
                    <p>Gender&nbsp;<a>*</a></p>
                    <select  id="select" class="input-box" name="gender">
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                        <option value="o">Others</option>
                    </select>
                    <img class="img-set" src="{% static "core/Vector 6.png" %}" alt="">
                </div>
                <div>
                    <p>Contact Number&nbsp;<a>*</a></p><input id="phone" class="input-box phone1" type="tel" name="Phone_Number">
                </div>
                <div class="align-right">
                    <p>Email ID&nbsp;<a>*</a></p><input class="input-box" type="email" name="Email">
                </div>
                <div>
                    <p>City&nbsp;<a>*</a></p><input class="input-box" type="text" name="your_city">
                </div>
                <div class="align-right">
                    <p>Postal Code&nbsp;<a class="grey">(optional)</a></p>
                    <input class="input-box" type="text" name="postal_code">
                </div>
                <div>
                    <p>Role&nbsp;<a>*</a></p>
                    <select  id="select" class="input-box" name="role">
                        {% for role in roles %}
                        <option value="{{ role.id }}">{{ role.name_of_role}}</option>
                        {% endfor %}
                    </select>
                    <img class="img-set-2" src="{% static "core/Vector 6.png" %}" alt="">
                </div>
            </div>
        </div>
        <div class="gap-1">
        </div>
        <div class="leader">
            <div class="leader-text">
                <div class="finally">
                    <div class="hax">Members 1 Details
                    </div>
                </div>
                <p class="txt-2 padding">All feilds marked with&nbsp;<a>*</a>&nbsp;are mandatory</p>
            </div>
        </div>
        <div class="form-container">
        <div action="" class="form-box-1 mem" name="myform">
            <div>
                <p>Name&nbsp;<a>*</a></p><input class="input-box" type="text" name="name">
            </div>
            <div class="align-right">
                <p>Gender&nbsp;<a>*</a></p>
                <select  id="select" class="input-box" name="gender">
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                    <option value="o">Others</option>
                </select>
                <img class="img-set" src="{% static "core/Vector 6.png" %}" alt="">
            </div>
            <div>
                <p>Contact Number&nbsp;<a>*</a></p><input id="phone-1" class="input-box phone1" type="tel" name="Phone_Number">
            </div>
            <div class="align-right">
                <p>Email ID&nbsp;<a>*</a></p><input class="input-box" type="email" name="Email">
            </div>
            <div>
                <p>Role&nbsp;<a>*</a></p>
                <select  id="select" class="input-box" name="role">
                    {% for role in roles %}
                    <option value="{{ role.id }}">{{ role.name_of_role}}</option>
                    {% endfor %}
                </select>
                <img class="img-set-2" src="{% static "core/Vector 6.png" %}" alt="">
            </div>
        </div>
    </div>
</div>


    <div class="member-container">
        <div class="member-box">
            <button type="button" class="btn" id="press-1">MEMBER +</button>
            <button type="button" class="btn" id="press-2">MEMBER -</button>
        </div>
    </div>
    <div class="register-box">
        <button class="btn-2">REGISTER</button>
    </div>
</form>
<div class="black">
    <div class="popup">
        <div class="atn">Attention</div>
        <div class="dis"></div>
        <button id="cls">CLOSE</button>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/intlTelInput.min.js"></script>
<script>
  const input = document.querySelector("#phone");
  window.intlTelInput(input, {
    utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
    initialCountry: "in",
    separateDialCode: true,
  });

  const input_1 = document.querySelector("#phone-1");
  window.intlTelInput(input_1, {
    utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
    initialCountry: "in",
    separateDialCode: true,
  });
</script>
<script src="{% static "core/reg_vog.js" %}"></script>
</html>