{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vogue Registration</title>
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static "core/reg_vog.css" %} ">
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/css/intlTelInput.css">
</head>

<body>
    <div class="container-1">
        <div class="header">
            <div class="logo-container"><img src="{% static "core/Group 19.png" %}" class="logo"></div>
            <p class="name-1">REGISTRATIONS</p>
            <button class="back" id="item_">BACK</button>
        </div>
    </div>
    <div class="line">
    </div>
    <div class="events">
        <div class="container-2">
            <div class="events-name" id="com1">
                <a class="competition" href="/register/Houte_Couture/" >Haute Couture</a>
            </div>
            <div class="events-name comm" id="com2">
                <a class="competition" href="/register/States_of_Dress/">States of Dress</a>
            </div>
            <div class="events-name" id="com3">
                <a class="competition" href="/register/Glamour_Nova/">Glamour Nova</a>
            </div>
        </div>
    </div>
    <form name="reg-form" id="add-container" method="POST">
        {% csrf_token %}
        <div class="team_name">
            <h1 class="txt-1">Team Name&nbsp;<a>*</a></h1>
            <input type="text" class="input-box ibox" name="team_name">
        </div>
        <div class="leader">
            <div class="leader-text">
                <p class="txt-1">Leader Details</p>
                <div class="line-2"></div>
                <p class="txt-2">All feilds marked with&nbsp;<a>*</a>&nbsp;are mandatory</p>
            </div>
        </div>
        <div id="add-container_2">
        <div class="form-container">
            <div action="" class="form-box">
                <div>
                    <p>Name&nbsp;<a>*</a></p><input class="input-box ibox" type="text" name="name">
                </div>
                <div class="align-right">
                    <p>Gender&nbsp;<a>*</a></p>
                    <select  id="select" class="input-box" name="gender">
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                        <option value="o">Others</option>
                    </select>
                    <img class="img-set" src="{% static "core/Vector 6.png" %}" alt="">
                </div>
                <div>
                    <p>Contact Number&nbsp;<a>*</a></p><input id="phone" class="input-box phone1 ibox" type="tel" placeholder="01234 56789" name="Phone_Number">
                </div>
                <div class="align-right">
                    <p>Email ID&nbsp;<a>*</a></p><input class="input-box ibox" type="email" name="Email">
                </div>
                <div>
                    <p>City&nbsp;<a>*</a></p><input class="input-box ibox" type="text" name="your_city">
                </div>
                <div class="align-right">
                    <p>Postal Code&nbsp;<a class="grey">(optional)</a></p>
                    <input class="input-box " type="text" name="postal_code">
                </div>
                <div>
                    <p>Role&nbsp;<a>*</a></p>
                    <select  id="select" class="input-box" name="role">
                        {% for role in roles %}
                        <option value="{{ role.id }}">{{ role.name_of_role}}</option>
                        {% endfor %}
                    </select>
                    <img class="img-set-2" src="{% static "core/Vector 6.png" %}" alt="">
                </div>
            </div>
        </div>
        <div class="gap-1">
        </div>
        <div class="leader">
            <div class="leader-text">
                <div class="finally">
                    <div class="hax">Members 1 Details
                    </div>
                </div>
                <p class="txt-2 padding">All feilds marked with&nbsp;<a>*</a>&nbsp;are mandatory</p>
            </div>
        </div>
        <div class="form-container">
        <div action="" class="form-box-1 mem" name="myform">
            <div>
                <p>Name&nbsp;<a>*</a></p><input class="input-box ibox" type="text" name="name">
            </div>
            <div class="align-right">
                <p>Gender&nbsp;<a>*</a></p>
                <select  id="select" class="input-box ibox" name="gender">
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                    <option value="o">Others</option>
                </select>
                <img class="img-set" src="{% static "core/Vector 6.png" %}" alt="">
            </div>
            <div>
                <p>Contact Number&nbsp;<a>*</a></p><input id="phone-1" class="input-box phone1 ibox" type="tel" placeholder="01234 56789" name="Phone_Number">
            </div>
            <div class="align-right">
                <p>Email ID&nbsp;<a>*</a></p><input class="input-box ibox" type="email" name="Email">
            </div>
            <div>
                <p>Role&nbsp;<a>*</a></p>
                <select  id="select" class="input-box" name="role">
                    {% for role in roles %}
                    <option value="{{ role.id }}">{{ role.name_of_role}}</option>
                    {% endfor %}
                </select>
                <img class="img-set-2" src="{% static "core/Vector 6.png" %}" alt="">
            </div>
        </div>
    </div>
</div>


    <div class="member-container">
        <div class="member-box">
            <button type="button" class="btn" id="press-1">MEMBER +</button>
            <button type="button" class="btn" id="press-2">MEMBER -</button>
        </div>
    </div>
    <div class="register-box">
        <button class="btn-2">REGISTER</button>
    </div>
</form>
{% comment %} <div class="black" style="display:none;">
    <div class="popup">
        <div class="atn">Attention</div>
        <div class="dis"></div>
        <button id="cls">CLOSE</button>
    </div>
</div> {% endcomment %}
<div class="black">
    <div class="popup">
        <div class="atn">Attention</div>
                <div class="dis"></div>
            <button id="cls">CLOSE</button>
    </div>
</div>
</body>
<script>

</script>
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/intlTelInput.min.js"></script>
<script>
  const input = document.querySelector("#phone");
  window.intlTelInput(input, {
    utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
    initialCountry: "in",
    separateDialCode: true,
  });

  const input_1 = document.querySelector("#phone-1");
  window.intlTelInput(input_1, {
    utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
    initialCountry: "in",
    separateDialCode: true,
  });
</script>
<script >
    document.getElementById('item_').addEventListener('click', function() {
        window.location.href = '/';
    });
     
    document.getElementById('press-1').addEventListener("click", addPage);
    document.getElementById('press-2').addEventListener("click", deletePage);
    const container = document.getElementById('add-container_2');
    let removeBtn = document.getElementById('press-2');
    var count = 1;
    function addPage() {
        count++;
        var code= `
        <div class="leader">
                <div class="leader-text">
                    <div class="finally"><div class="hax">Members ${count} Details
                    </div></div>
                    <p class="txt-2 padding">All feilds marked with&nbsp;<a>*</a>&nbsp;are mandatory</p>
                </div>
        </div>   
        <div class="form-container">         
        <div action="" class="form-box-1 mem">
        <div>
            <p>Name&nbsp;<a>*</a></p><input class="input-box ibox" type="text" name="name">
        </div>
        <div class="align-right">
            <p>Gender&nbsp;<a>*</a></p>
            <select name="gender" id="select" class="input-box">
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                        <option value="o">Others</option>
                    </select>
                    <img class="img-set" src="{% static "core/Vector 6.png" %}" alt="">
        </div>
        <div>
            <p>Contact Number&nbsp;<a>*</a></p><input id="phone-${count}" class="input-box phone1 ibox" type="tel" placeholder="01234 56789" name="Phone_Number">
        </div>
        <div class="align-right">
            <p>Email ID&nbsp;<a>*</a></p><input class="input-box ibox" type="email" name="Email">
        </div>
        <div>
            <p>Role&nbsp;<a>*</a></p>
            <select  id="select" class="input-box" name="role">
                {% for role in roles %}
                <option value="{{ role.id }}">{{ role.name_of_role}}</option>
                {% endfor %}
            </select>
            <img class="img-set-2" src="{% static "core/Vector 6.png" %}" alt="">
        </div>
    </div>
    </div>
    </div>`;
    
    container.insertAdjacentHTML("beforeend", code);

        if (count == 2) {
            removeBtn.style.display =   "inline-block";
        }

        const input = document.querySelector(`#phone-${count}`);
        window.intlTelInput(input, {
            utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
            initialCountry: "in",
            separateDialCode: true,
        });
    }
    
    function deletePage() {
        count--;
        let elm = container.lastElementChild;
        let elm2 = container.lastElementChild.previousElementSibling;
        container.removeChild(elm);
        container.removeChild(elm2);
    
        if (count == 1) {
            removeBtn.style.display = "none";
        }
    }
    
    const linkPage = window.location.pathname;
    const com1 = document.getElementById("com1");
    const com2 = document.getElementById("com2");
    const com3 = document.getElementById("com3");
    
    function addClassOnClick(element1, element2, element3) {
        element1.classList.add("comm");
        element2.classList.remove("comm");
        element3.classList.remove("comm");
    
    };
    if (linkPage == com1.firstElementChild.pathname) {
    addClassOnClick(com1, com2, com3);
    }
    if (linkPage == com2.firstElementChild.pathname) {
        addClassOnClick(com2, com1, com3);
    }
    if (linkPage== com3.firstElementChild.pathname) {
        addClassOnClick(com3, com1, com2);
    }
    const popup = document.querySelectorAll('.black')[0]
    popup.addEventListener("click", function(){
        popup.style.display="none";
    });
    
    document.forms['reg-form'].onsubmit= function(event){
    
        let nameInputs = document.querySelectorAll('.ibox');
        // let phone = document.querySelectorAll('.name1');
        for (var i = 0; i < nameInputs.length; i++) {
            if (nameInputs[i].value.trim() === "") {
                document.querySelector(".dis").innerHTML = "Enter All necessary details Properly";
                document.querySelector(".black").style.display = "block";
                event.preventDefault();
                return false;
            }
        }
        var numInputs = document.querySelectorAll('input[type="tel"]');
        for (var i = 0; i < numInputs.length; i++) {
            if (isNaN(numInputs[i].value.trim())) {
                document.querySelector(".dis").innerHTML = "Enter All necessary details Properly";
                document.querySelector(".black").style.display = "block";
                event.preventDefault();
                return false;
            }
        }
        var roleCount = {};
        {% for role in roles  %}
            roleCount[{{role.id}}] = 0;
        {% endfor%}
        console.log(roleCount);
        const roleDropdowns = document.querySelectorAll('select[name="role"]');
        
            
        // Iterate through each role dropdown
        roleDropdowns.forEach((dropdown) => {
            // Get the selected role value
            const selectedRole = dropdown.value;

            // If the selected role is not empty
            if (selectedRole) {
                // Increment the count for the selected role in the roleCount object
                roleCount[selectedRole] = (roleCount[selectedRole] || 0) + 1;
            }
        });
        console.log(roleCount);
        {% for role in roles  %}
            var name = "{{role.name_of_role}}";
            var minmem = {{role.min_member}};
            if (roleCount[{{role.id}}] < {{role.min_member}}){
                document.querySelector(".dis").innerHTML = `The role ${name} requires at least ${minmem} participants`;
                document.querySelector(".black").style.display = "block";
            event.preventDefault();
                return false;
            }
        {% endfor%}
            console.log("After role count initialization");
    }
</script>
</html>